.tbl_th {
    padding: 0 1rem;
}

.listHeader {
    .btn {
        right: 1rem;
        position: absolute;

        border: none;

        .darkModeIcon {
            color: #212529;
            font-Size: 1.2rem;
            transition: opacity .25s ease;

            &:hover {
                opacity: .8;
            }


        }

        .lightModeIcon {
            color: beige;
            font-Size: 1.2rem;
            transition: opacity .25s ease;

            &:hover {
                opacity: .8;
            }
        }
    }
}